background color in index.css file:
:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  background-color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


-------------
div color (اول اشي تحت ال return بالكود)
  return (
    <div style={{backgroundColor: '#141414', margin: '30px', padding: '30px', borderRadius: '15px'}}>

------------------


hr tag in MyForm.jsx
      <hr style={{height:"1px",borderWidth:"0", color:"gray",backgroundColor:"grey"}}></hr>

--------------

button tag 

          <Button type="submit" fullWidth variant="contained" sx={{ mt: 2 ,color: 'black',  fontSize: '20px', backgroundColor: '#FFFFFF', '&:hover': {
      backgroundColor: '#a3a2a2', color: 'white'
    },}} >
            Detect
          </Button>

